* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.contaner {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #eb6511, green);
  padding: 8px;
}
.todo-app {
  width: 50%;
  max-height: 540px;
  background: white;
  margin: 100px auto 20px;
  padding: 20px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: 30px;
  font-size: 32px;
}
.todo-app h2 img {
  width: 30px;
  margin-right: 50px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: hsl(245, 100%, 53%);
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
}
button:hover {
  background-color: #f31010;
  font-size: 18px;
}
ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-image: url(./unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 10px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(./checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #000000;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
ul li span:hover {
  background: #f31010;
  border-radius: 50%;
  color: white;
}
#head {
  padding: 25px;
  color: rgb(218, 210, 210);
  font-size: 30px;
  margin-top: 30px;

  text-align: center;
  font-style: italic;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
